<nav class="navbar">
    <div class="navbar_container">
        <div class="navbar_logo">
            <a href="#">
                <img src="/assets/img/logo.png" alt="brandiq">
            </a>
        </div>
        <ul class="navbar-nav-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">¿Cómo jugar?</a></li>
            <li><a href="#">Conócenos</a></li>
        </ul>
        <ul class="navbar-nav-right">
            <li><button class="btn btn-dark-outline">Inicia Sesión</button></li>
            <li><button class="btn btn-dark btn-dark-outline">Regístrate</button></li>
        </ul>
    </div>
</nav>

